# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environnement
.env
venv/
.venv/

# Base de données
instance/
*.db
*.sqlite3

# Uploads utilisateurs
app/static/uploads/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Tests
.pytest_cache/
htmlcov/
.coverage
